
<!-- <div>
    <mat-tab-group class="group">
        <mat-tab >
            <ng-template mat-tab-label class="tab-one">
                <span class="my-custom-class">Security</span>
            </ng-template>
            Content 1
        </mat-tab>
        <mat-tab label="Second" class="secondTab"> Content 2 </mat-tab>
        <mat-tab class="my-custom-class" label="Third" class="thirdTab"> Content 3 </mat-tab>
        <mat-tab label="Three"></mat-tab>
    </mat-tab-group>
</div> -->
<app-pokemon></app-pokemon>